*{
    padding:0;
    margin:0;
}
ul,ol,li{
    list-style: none;
}
a{
    color: #999;
    outline: none;
    text-decoration: none;
}
img{
    border: 0;
}
div,section,nav{
    box-sizing: border-box;
}